@page
@model TreasureHuntWebApp.Pages.AngryTerm.IndexModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.crossWordInput').click(function () { $(this).val(''); });
    });
</script>

<form method="post" autocomplete="on">
    <table class="table" style="width:auto; margin: auto; margin-top:50pt;">
        <tbody>
            <tr>
                <td class="crossWord"></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Yo / Author</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Royal</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Squint</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Vampire</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr"></p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Tidy</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Mushroom</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr">&#8594 Tie</p></td>
                <td class="crossWord crossWord-Top"><p class="crossWordClue" style="writing-mode: vertical-lr"></p></td>
                <td class="crossWord crossWordClue"></td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue">&#8594 Nibbles</td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r1c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r1c2")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r1c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r1c5")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r1c6" value="@HttpContextAccessor.HttpContext.Session.GetString("r1c6")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r1c7" value="@HttpContextAccessor.HttpContext.Session.GetString("r1c7")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r1c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r1c8")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r1c9" value="@HttpContextAccessor.HttpContext.Session.GetString("r1c9")" /></td>
                <td class="crossWord crossWord-Right crossWordClue"></td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue">&#8594 Woohoo</td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c1" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c1")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c2")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c3" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c3")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c4" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c4")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c5")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c6" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c6")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r2c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r2c8")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord crossWord-Right crossWordClue"></td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue">&#8594 Single / Guidance</td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c1" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c1")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c2")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c3" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c3")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c5")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c6" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c6")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c7" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c7")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c8")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r3c9" value="@HttpContextAccessor.HttpContext.Session.GetString("r3c9")" /></td>
                <td class="crossWord crossWord-Right crossWordClue">Scanner &#8592</td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue">&#8594 First Time</td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r4c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r4c2")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r4c3" value="@HttpContextAccessor.HttpContext.Session.GetString("r4c3")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r4c4" value="@HttpContextAccessor.HttpContext.Session.GetString("r4c4")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r4c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r4c5")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r4c6" value="@HttpContextAccessor.HttpContext.Session.GetString("r4c6")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r4c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r4c8")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord crossWord-Right crossWordClue">Cylindrical &#8592</td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue"></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c2")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c3" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c3")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c4" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c4")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c5")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c6" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c6")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c7" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c7")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c8")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r5c9" value="@HttpContextAccessor.HttpContext.Session.GetString("r5c9")" /></td>
                <td class="crossWord crossWord-Right crossWordClue">Speedy &#8592</td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue">&#8594 Ho Ho / Religion</td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c1" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c1")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c2")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c4" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c4")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c5")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c6" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c6")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c7" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c7")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r6c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r6c8")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord crossWord-Right crossWordClue">Belief &#8592</td>
            </tr>
            <tr>
                <td class="crossWord crossWord-Left crossWordClue">&#8594 Ewww</td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c1" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c1")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c2" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c2")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c3" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c3")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c4" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c4")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c5" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c5")" /></td>
                <td class="crossWord"><div class="blackBox"></div></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c7" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c7")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c8" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c8")" /></td>
                <td class="crossWord"><input type="text" class="crossWordInput" maxlength="1" name="r7c9" value="@HttpContextAccessor.HttpContext.Session.GetString("r7c9")" /></td>
                <td class="crossWord crossWord-Right crossWordClue">Snake &#8592</td>
            </tr>
            <tr>
                <td class="crossWord"></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-lr">Wells &#8594</p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl">Castle &#8594</p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl"></p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl">Pierce &#8592</p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl">Fastens &#8592</p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl"></p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl"></p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl"></p></td>
                <td class="crossWord crossWord-Bottom"><p class="crossWordClue" style="writing-mode: vertical-rl"></p></td>
                <td class="crossWord crossWordClue"></td>
            </tr>
        </tbody>
    </table>

    <div style="margin: auto; padding: 20pt; text-align: center;">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>


