@page
@model TreasureHuntWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "LemonCube";
}

<div class="scoreBoard">
    <section class="scoreBoardSection">
    <table class="scoreBoardTable" cellpadding="1">
        <colgroup>
            <col span="1" style="width:20%">
            <col span="1" style="width:50%">
            <col span="1" style="width:30%">
        </colgroup>
        <tr class="scoreBoardTableHeadings">
            <th class="scoreBoardCell"><div class="scoreBoardDigits" style="text-align:center">Rank</div></th>
            <th class="scoreBoardCell"><div class="scoreBoardDigits">Player Name</div></th>
            <th class="scoreBoardCell"><div class="scoreBoardDigits" style="text-align:center">Score</div></th>
        </tr>
        @foreach (var item in Model.ScoreboardResults)
        {
            string rowName = "row" + item.ID.ToString();
            <tr class="scoreBoardRow" id="@rowName">
                <td class="scoreBoardCell">
                    <div class="scoreBoardDigits" style="text-align:right">
                        @Html.DisplayFor(modelItem => item.ID)
                    </div>
                </td>
                <td class="scoreBoardCell">
                    <div class="scoreBoardDigits">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                </td>
                <td class="scoreBoardCell">
                    <div class="scoreBoardDigits" style="text-align:center">
                        @Model.PadNumber((int)item.Score, 6)
                    </div>
                </td>
            </tr>
        }
    </table>
    </section>
</div>

<div class="huntLinkSection">
    <table class="huntLinkTable">
        <tr style="width:100%">
            <td class="huntLinkCell">
                <a href="/Questions">Hunt 1</a>
            </td>
            <td class="huntLinkRank">
                1st : @{ if (Model.Hunt1Winners.Count() > 0) { @Html.DisplayFor(modelItem => Model.Hunt1Winners[0].Name); } else {<text>- - -</text>  } } <br>
                2nd : @{ if (Model.Hunt1Winners.Count() > 1) { @Html.DisplayFor(modelItem => Model.Hunt1Winners[1].Name); } else {<text>- - -</text>  } } <br>
                3rd : @{ if (Model.Hunt1Winners.Count() > 2) { @Html.DisplayFor(modelItem => Model.Hunt1Winners[2].Name); } else {<text>- - -</text>  } } <br>
                4th : @{ if (Model.Hunt1Winners.Count() > 3) { @Html.DisplayFor(modelItem => Model.Hunt1Winners[3].Name); } else {<text>- - -</text>  } } <br>
            </td>
        </tr>
    </table>
</div>

<div class="huntLinkSection">
    <table class="huntLinkTable">
        <tr style="width:100%">
            <td class="huntLinkCell">
                <a href="/AskResponses">Hunt 2</a>
            </td>
            <td class="huntLinkRank">
                1st : @{ if (Model.Hunt2Winners.Count() > 0) { @Html.DisplayFor(modelItem => Model.Hunt2Winners[0].Name); } else {<text>- - -</text>  } } <br>
                2nd : @{ if (Model.Hunt2Winners.Count() > 1) { @Html.DisplayFor(modelItem => Model.Hunt2Winners[1].Name); } else {<text>- - -</text>  } } <br>
                3rd : @{ if (Model.Hunt2Winners.Count() > 2) { @Html.DisplayFor(modelItem => Model.Hunt2Winners[2].Name); } else {<text>- - -</text>  } } <br>
                4th : @{ if (Model.Hunt2Winners.Count() > 3) { @Html.DisplayFor(modelItem => Model.Hunt2Winners[3].Name); } else {<text>- - -</text>  } } <br>
            </td>
        </tr>
    </table>
</div>

<div class="huntLinkSection">
    <table class="huntLinkTable">
        <tr style="width:100%">
            <td class="huntLinkCell">
                Hunt 3
                <p id="CountDown"></p>

                <script>
                    // Set the date we're counting down to
                    var countDownDate = new Date("Oct 26, 2018 06:00:00").getTime();

                    // Update the count down every 1 second
                    var x = setInterval(function() {

                        // Get todays date and time
                        var now = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Output the result in an element with id="demo"
                        document.getElementById("CountDown").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                        // If the count down is over, write some text
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("CountDown").innerHTML = "EXPIRED";
                        }
                    }, 1000);
                </script>
            </td>
            <td class="huntLinkRank">
                1st : @{ if (Model.Hunt3Winners.Count() > 0) { @Html.DisplayFor(modelItem => Model.Hunt3Winners[0].Name); } else {<text>- - -</text>  } } <br>
                2nd : @{ if (Model.Hunt3Winners.Count() > 1) { @Html.DisplayFor(modelItem => Model.Hunt3Winners[1].Name); } else {<text>- - -</text>  } } <br>
                3rd : @{ if (Model.Hunt3Winners.Count() > 2) { @Html.DisplayFor(modelItem => Model.Hunt3Winners[2].Name); } else {<text>- - -</text>  } } <br>
                4th : @{ if (Model.Hunt3Winners.Count() > 3) { @Html.DisplayFor(modelItem => Model.Hunt3Winners[3].Name); } else {<text>- - -</text>  } } <br>
            </td>
        </tr>
    </table>
</div>

