@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.MedievalDungeonModel
@{
    ViewData["Title"] = "MedievalDungeon";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".door").click(function () {
            var commandName = $(this).attr("value");
            var hiddenInput = $("input[name=door]");
            hiddenInput.val(commandName);
        });
        $(".weapon").click(function () {
            var commandName = $(this).attr("value");
            var hiddenInput = $("input[name=weapon]");
            hiddenInput.val(commandName);
        });
        $("#mapLogo").click(function () {
            $content = $("#map");
            $content.slideToggle(500, function () {});
        });
        $("#guidebookLogo").click(function () {
            $content = $("#guidebook");
            $content.slideToggle(500, function () { });
        });
    });
</script>

<table class="dungeonImageHeader">
    <tr>
        @{
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
            {
                <td>
                    <img id="guidebookLogo" class="bit8Image" style="max-width: 50px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/guidebook.jpg" />
                </td>
            }
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Map")))
            {
                <td>
                    <img id="mapLogo" class="bit8Image flipH" style="max-width: 100px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/map.png" />
                </td>
            }
        }
        <td>
            <img class="bit8Image flipH" style="max-width: 100px; width : 100%; padding: 5pt;" src="~/DungeonGraphics/torch.png" />
        </td>
        <td>
            <img class="bit8Image" style="max-width: 100px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/shield.png" />
        </td>
        <td>
            <img class="bit8Image" style="max-width: 100px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/torch.png" />
        </td>
        @{
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Sword")))
            {
                <td>
                    <img class="bit8Image" style="max-width: 50px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/sword.jpg" />
                </td>
            }
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
            {
                <td>
                    <img class="bit8Image" style="max-width: 50px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/compass.png" />
                </td>
            }
        }
    </tr>
</table>
@{
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Map")))
    {
        <div id="map" style="display: none; text-align: center; margin: auto; width: 90%; max-width: 800px;">
            <img class="bit8Image" style="padding: 5pt; width: 90%;" src="~/DungeonGraphics/mapLarge-8bit.png" />
        </div>
    }
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
    {
        <div id="guidebook" style="display: none; text-align: center; margin: auto; width: 90%; max-width: 800px;">
            <div class="guideBook">
                <h1 style="text-decoration:underline;">@Html.DisplayFor(model => Model.Dungeon[0].Name)</h1>
                <p>@Html.DisplayFor(model => Model.Dungeon[0].Guidebook)</p>
                <h4>@Html.DisplayFor(model => Model.Dungeon[0].RoomID)</h4>
            </div>
        </div>
    }
}
<br />
@{
    if (Model.Dungeon[0].RoomID == 23)
    {
        <div style="text-align: center; margin: auto;">
            <img class="bit8Image" style="width: 40%; max-width: 200px; padding: 5pt;" src="~/DungeonGraphics/klorg-8bit.png" />
        </div>
    }
    else
    if (Model.Dungeon[0].RoomID == 35)
    {
        <div style="text-align: center; margin: auto;">
            <img class="bit8Image" style="width: 40%; max-width: 200px; padding: 5pt;" src="~/DungeonGraphics/skeleton.jpg" />
        </div>
    }
}
<p style="text-align: center; width: 100%; max-width: 800px; margin: auto">
    @Html.DisplayFor(model => Model.Dungeon[0].Storyline)
</p>
<br />
<table style="width: 90%;">
    <tr style="max-width: 800px;">
        @{
            if (Model.Dungeon[0].Name == "Pit")
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/pit.jpg" alt="Submit" class="door portalImage bit8Image" value="1">
                    </form>
                </td>
                HttpContextAccessor.HttpContext.Session.Remove("Sword");
                HttpContextAccessor.HttpContext.Session.SetString("Reset", "1");
            }
            else if (Model.Dungeon[0].ItemID == 1 && String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Monster" + Model.Dungeon[0].RoomID)))
            {
                if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Sword")))
                {
                    <td style="text-align: center;">
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="hidden" name="sword" alt="Submit" value="1" />
                            <input type="image" src="~/DungeonGraphics/sword.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].RoomID)">
                        </form>
                    </td>
                }
                else
                {
                    HttpContextAccessor.HttpContext.Session.SetString("Reset", "1");
                    <td style="text-align: center;">
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/fist.jpg" alt="Submit" class="door portalImage bit8Image" value="37">
                        </form>
                    </td>
                }
            }
            else if (Model.Dungeon[0].RoomID == 23)
            {
                <td style="text-align: center;  max-width: 200px;">
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/collarPortal.png" alt="Submit" class="door portalImage bit8Image" value="0">
                    </form>
                </td>
            }
            else if (Model.Dungeon[0].RoomID == 37)
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/knockedOut.jpg" alt="Submit" class="door portalImage bit8Image" value="1">
                        <p>(Maybe a weapon could help you fight a way past this monster)</p>
                    </form>
                </td>
                HttpContextAccessor.HttpContext.Session.Remove("Sword");
                HttpContextAccessor.HttpContext.Session.SetString("Reset", "1");
            }
            else
            {
                if (Model.Dungeon[0].NorthID != 0)
                {
                <td style="text-align: center;">
                    @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                        {
                            <text><div style="font-size: 2em">N</div></text>
                        }
                    }
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/medievalDoor-8bit.png" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].NorthID)">
                    </form>
                </td>
                }
                if (Model.Dungeon[0].EastID != 0)
                {
                    <td style="text-align: center;">
                        @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                <text><div style="font-size: 2em">E</div></text>
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/medievalDoor-8bit.png" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].EastID)">
                        </form>
                    </td>
                }
                if (Model.Dungeon[0].SouthID != 0)
                {
                    <td style="text-align: center;">
                        @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                <text><div style="font-size: 2em">S</div></text>
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/medievalDoor-8bit.png" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].SouthID)">
                        </form>
                    </td>
                }
                if (Model.Dungeon[0].WestID != 0)
                {
                    <td style="text-align: center;">
                        @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                <text><div style="font-size: 2em">W</div></text>
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/medievalDoor-8bit.png" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].WestID)">
                        </form>
                    </td>
                }
            }
        }
    </tr>
</table>

