@page
@model TreasureHuntWebApp.Pages.ItsADungeonCrawl.SpaceDungeonModel
@{
    ViewData["Title"] = "MedievalDungeon";
}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".door").click(function () {
            var commandName = $(this).attr("value");
            var hiddenInput = $("input[name=door]");
            hiddenInput.val(commandName);
        });
        $(".weapon").click(function () {
            var commandName = $(this).attr("value");
            var hiddenInput = $("input[name=weapon]");
            hiddenInput.val(commandName);
        });
        $("#mapLogo").click(function () {
            $content = $("#map");
            $content.slideToggle(500, function () { });
        });
        $("#guidebookLogo").click(function () {
            $content = $("#guidebook");
            $content.slideToggle(500, function () { });
        });
    });
</script>

<table class="dungeonImageHeader">
    <tr>
        @{
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
            {
                <td>
                    <img id="guidebookLogo" class="bit8Image" style="max-width: 100px; height: 100%;" src="~/DungeonGraphics/guidebook.jpg" />
                </td>
            }
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Map")))
            {
                <td>
                    <img id="mapLogo" class="bit8Image flipH" style="max-width: 100px; height: 100%;" src="~/DungeonGraphics/map.png" />
                </td>
            }
        }
        <td>
            <img class="bit8Image" style="max-width: 100px; width : 100%; padding: 5pt;" src="~/DungeonGraphics/comet.jpg" />
        </td>
        <td>
            <img class="bit8Image" style="max-width: 100px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/spaceDungeon.png" />
        </td>
        <td>
            <img class="bit8Image flipH" style="max-width: 100px; width: 100%; padding: 5pt;" src="~/DungeonGraphics/comet.jpg" />
        </td>
        @{
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Sword")))
            {
                <td>
                    <img class="bit8Image" style="max-width: 100px; height: 100%;" src="~/DungeonGraphics/spaceGun.png" />
                </td>
            }
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
            {
                <td>
                    <img class="bit8Image" style="max-width: 100px; height: 100%;" src="~/DungeonGraphics/compass.png" />
                </td>
            }
            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Cutter")))
            {
                <td>
                    <img class="bit8Image" style="max-width: 100px; height: 100%;" src="~/DungeonGraphics/cutter.png" />
                </td>
            }
        }
    </tr>
</table>
@{
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Map")))
    {
        <div id="map" style="display: none; text-align: center; margin: auto;">
            <img class="bit8Image" style="width: 60%; padding: 5pt;" src="~/DungeonGraphics/mapLarge-8bit.png" />
        </div>
    }
    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Guidebook")))
    {
        <div id="guidebook" style="display: none; text-align: center; margin: auto;">
            <p>@Html.DisplayFor(model => Model.Dungeon[0].Guidebook)</p>
        </div>
    }
}
<br />
@{
    if (Model.Dungeon[0].RoomID == 11)
    {
        <div style="text-align: center; margin: auto;">
            <img class="bit8Image" style="width: 40%; padding: 5pt;" src="~/DungeonGraphics/klorg-8bit.png" />
        </div>
    }
    else
    if (Model.Dungeon[0].RoomID == 35)
    {
        <div style="text-align: center; margin: auto;">
            <img class="bit8Image" style="width: 40%; padding: 5pt;" src="~/DungeonGraphics/skeleton.jpg" />
        </div>
    }
}
<p style="text-align: center; width: 100%; max-width: 400px; margin: auto">
    @Html.DisplayFor(model => Model.Dungeon[0].Storyline)
</p>
<br />
<table style="width: 100%;">
    <tr style="max-width: 500px;">
        @{
            if (Model.Dungeon[0].RoomID == 38)
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/spaceTime.jpg" alt="Submit" class="door portalImage bit8Image" value="1">
                    </form>
                </td>
                HttpContextAccessor.HttpContext.Session.Remove("Sword");
                HttpContextAccessor.HttpContext.Session.Remove("Map");
                HttpContextAccessor.HttpContext.Session.Remove("Cutter");
            }
            else if (Model.Dungeon[0].ItemID == 1 && String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Monster" + Model.Dungeon[0].RoomID)))
            {
                if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Sword")))
                {
                    <td style="text-align: center;">
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="hidden" name="sword" alt="Submit" value="1" />
                            <input type="image" src="~/DungeonGraphics/spaceGun.png" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].RoomID)">
                        </form>
                    </td>
                }
                else
                {
                    <td style="text-align: center;">
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/fist.jpg" alt="Submit" class="door portalImage bit8Image" value="37">
                        </form>
                    </td>
                }
            }
            else if (Model.Dungeon[0].RoomID == 11)
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/collarPortal.png" alt="Submit" class="door portalImage bit8Image" value="0">
                    </form>
                </td>
            }
            else if (Model.Dungeon[0].RoomID == 37)
            {
                <td style="text-align: center;">
                    <form method="post">
                        <input type="hidden" name="door" alt="Submit" value="blank" />
                        <input type="image" src="~/DungeonGraphics/knockedOut.jpg" alt="Submit" class="door portalImage bit8Image" value="1">
                        <p>(Maybe a weapon could help you fight a way past this monster)</p>
                    </form>
                </td>
                HttpContextAccessor.HttpContext.Session.Remove("Sword");
                HttpContextAccessor.HttpContext.Session.Remove("Map");
                HttpContextAccessor.HttpContext.Session.Remove("Cutter");
            }
            else
            {
                if (Model.Dungeon[0].NorthID != 0)
                {
                    <td style="text-align: center;">
                        @{ 
                            if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                if (Model.Dungeon[0].NorthID > 36 || Model.Dungeon[0].NorthID < 0)
                                {
                                    Random rnd = new Random();
                                    int newID = rnd.Next(1, 16);
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => newID)</div></text>
                                }
                                else
                                {
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => Model.Dungeon[0].NorthID)</div></text>
                                }
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            @{ 
                                if (Model.Dungeon[0].RoomID == 3 || Model.Dungeon[0].RoomID == 4)
                                {
                                    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Cutter")))
                                    {
                                    <input type="image" src="~/DungeonGraphics/spacePortal-slime.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].NorthID)">
                                    }
                                    else
                                    {
                                    <img class="door portalImage bit8Image" src="~/DungeonGraphics/spacePortal-slime.jpg" />
                                    }
                                }
                                else
                                {
                                    <input type="image" src="~/DungeonGraphics/spacePortal.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].NorthID)">
                                }
                            }
                        </form>
                    </td>
                }
                if (Model.Dungeon[0].EastID != 0)
                {
                    <td style="text-align: center;">
                        @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                if (Model.Dungeon[0].EastID > 36 || Model.Dungeon[0].EastID < 0)
                                {
                                    Random rnd = new Random();
                                    int newID = rnd.Next(1, 16);
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => newID)</div></text>
                                }
                                else
                                {
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => Model.Dungeon[0].EastID)</div></text>
                                }
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            <input type="image" src="~/DungeonGraphics/spacePortal.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].EastID)">
                        </form>
                    </td>
                }
                if (Model.Dungeon[0].SouthID != 0)
                {
                    <td style="text-align: center;">
                        @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                if (Model.Dungeon[0].SouthID > 36 || Model.Dungeon[0].SouthID < 0)
                                {
                                    Random rnd = new Random();
                                    int newID = rnd.Next(1, 16);
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => newID)</div></text>
                                }
                                else
                                {
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => Model.Dungeon[0].SouthID)</div></text>
                                }
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            @{ 
                                if (Model.Dungeon[0].RoomID == 7)
                                {
                                    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Cutter")))
                                    {
                                    <input type="image" src="~/DungeonGraphics/spacePortal-slime.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].SouthID)">
                                    }
                                    else
                                    {
                                    <img class="door portalImage bit8Image" src="~/DungeonGraphics/spacePortal-slime.jpg" />
                                    }
                                }
                                else
                                {
                                    <input type="image" src="~/DungeonGraphics/spacePortal.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].SouthID)">
                                }
                            }
                        </form>
                    </td>
                }
                if (Model.Dungeon[0].WestID != 0)
                {
                    <td style="text-align: center;">
                        @{ if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Compass")))
                            {
                                if (Model.Dungeon[0].WestID > 36 || Model.Dungeon[0].WestID < 0)
                                {
                                    Random rnd = new Random();
                                    int newID = rnd.Next(1, 16);
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => newID)</div></text>
                                }
                                else
                                {
                                    <text><div style="font-size: 2em">@Html.DisplayFor(model => Model.Dungeon[0].WestID)</div></text>
                                }
                            }
                        }
                        <form method="post">
                            <input type="hidden" name="door" alt="Submit" value="blank" />
                            @{ 
                                if (Model.Dungeon[0].RoomID == 16)
                                {
                                    if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Cutter")))
                                    {
                                    <input type="image" src="~/DungeonGraphics/spacePortal-slime.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].WestID)">
                                    }
                                    else
                                    {
                                    <img class="door portalImage bit8Image" src="~/DungeonGraphics/spacePortal-slime.jpg" />
                                    }
                                }
                                else
                                {
                                    <input type="image" src="~/DungeonGraphics/spacePortal.jpg" alt="Submit" class="door portalImage bit8Image" value="@Html.DisplayFor(model => Model.Dungeon[0].WestID)">
                                }
                            }
                        </form>
                    </td>
                }
            }
        }
    </tr>
</table>

