@page
@model TreasureHuntWebApp.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.QuestionNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.QuestionNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question.Answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question.Answer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
